spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://localhost:5432/campus_connect
    username: cc_user
    password: dev_password
    hikari:
      connection-init-sql: SET TIME ZONE 'UTC';
#    driver-class-name: org.postgresql.Driver
  jpa:
#    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        jdbc.time_zone: UTC
#    database: postgresql
#    database-platform: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: "health,info,metrics"
  endpoint:
    health:
      show-details: always
#
#logging:
#  level:
#    org.hibernate.SQL: DEBUG
#    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
#    org.springframework.transaction: DEBUG


