spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://localhost:5432/campus_connect
    username: cc_user
    password: dev_password

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8081
