spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://localhost:5432/campus_connect
    username: cc_user
    password: dev_password
    hikari:
      connection-init-sql: SET TIME ZONE 'UTC';

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        jdbc.time_zone: UTC   # Ensures Hibernate saves timestamps in UTC

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

server:
  port: 8081
